<%- include("include/_header")%>

<div class="main">
    <div class="user-all"><a href="/"><i class="fas fa-angle-double-left"></i>  All User</a></div>
    <div class="contian">
        <div class="contains">
            <h2>New User</h2>
            <p>Fill the from to Create new Account</p>
            <%- include("include/_form")%>
        </div>

    </div>
</div>

<%- include("include/_footer")%>