<%- include("include/_header")%>

    <div class="main">
        <div class="user-text"><a href="/add_user"> New User <i class="fas fa-user"></i></a></div>
        <div class="table">
            <table class="table1">
                <tr class="tr">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gander</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <%- include("include/_main")%>
            </table>
        </div>
    </div>

    <%- include("include/_footer")%>